%footer.footer
  .row
    .small-12.medium-6.large-3.columns
      %p.logo
        %i.fi-shield
        Crazy Dancing Guy
      %p.footer-links
        =link_to "About", pages_path("about")
        =link_to "How it Works", pages_path("how-it-works")
        =link_to "Privacy Policy", pages_path("privacy")
        =link_to "Contact Me", '/contact-us'
        -if user_signed_in?

          = link_to "Log out", destroy_session_path(:user), :method => :delete

    .small-12.medium-6.large-4.columns
      %p.logo Socialize with us
      %ul.contact
        %li
          %p
            %i.fi-social-facebook>
            =link_to 'facebook.com/CrazyDancingGuy', 'http://facebook.com/CrazyDancingGuy'
        %li
          %p
            %i.fi-social-twitter>
            =link_to 'twitter.com/CrazyDancingGuy', 'http://twitter.com/CrazyDancingGuy'

    .small-12.medium-6.large-5.columns

      %ul.hashtags
        %h3=link_to '@crazydancingguy',"http://crazydancingguy.com"
        %li=link_to '#climatejustice', 'https://twitter.com/hashtag/climatejustice'
        %li=link_to '#socialjustice', 'https://twitter.com/hashtag/socialjustice'
        %li=link_to '#genderequality', 'https://twitter.com/hashtag/genderequality'
      %hr
      .footer-links{:style=>'text-align:center;'}
        =link_to "Play With Your Mind", "http://playwithyourmind.com"
        =link_to "Presidential Election Games", "http://presidentialelectiongames.com"
        =link_to "The Keyboard Playground", "http://freeonlinetypinggames.com"
        =link_to "Good Luck Test", "http://goodlucktest.com"

#login.reveal-modal.remove-whitespace{"data-reveal" => ""}
  .row
    .large-6.columns.auth-plain
      .signup-panel.left-solid
        %p.welcome Registered Users
        %form#login-form
          .row.collapse
            .small-2.columns
              %span.prefix
                %i.fi-torso-female
            .small-10.columns
              %input{:placeholder => "username", :type => "text", :id =>'login-username'}
          .row.collapse
            .small-2.columns
              %span.prefix
                %i.fi-lock
            .small-10.columns
              %input{:placeholder => "password", :type => "password", :id => 'login-password'}
        %a.button{:href => "#",:id=>'login-button'} Log In
    .large-6.columns.auth-plain
      .signup-panel.newusers
        %p.welcome No account... yet?
        %p Why not sign up and exercise your first ammendment right to have some fun?  It's easy!
        =link_to new_user_registration_path, :class=>'button' do
          Sign Up
  %a.close-reveal-modal ×
-if user_signed_in?
  #collect.reveal-modal{"data-reveal" => ""}
    %h3 add to playlist
    .row
      .large-5.columns
        %h4 Add to existing playlist
        =form_tag add_song_playlists_path, :method=>:post, :remote=>:true do |f|
          =hidden_field_tag :song_id, '',:class => 'song-id'
          %label playlist
          =select_tag :playlist_id, options_from_collection_for_select(current_user.playlists, :id, :title), :prompt => 'choose playlist'
          =submit_tag "Add", :class => "button"
      .large-7.columns
        %h4 Add to a new collection
        =form_for Playlist.new, :url => user_playlists_path(current_user), :method=>:post, :remote=>:true do |f|
          =hidden_field_tag :song_id, '',:class => 'song-id'
          %label Name your playlist
          =f.text_field :title
          %label Describe your playlist
          =f.text_area :description
          =f.submit "Add to New", :class => "button"

    %a.close-reveal-modal ×
  :javascript
    $(document).on('click','.playlists',function() {
      $('#show-list').html('#{j render current_user.playlists}');
      $("html, body").animate({
       scrollTop:0
       },"fast");

    });

#new-post.reveal-modal{"data-reveal" => ""}
  #form
  %a.close-reveal-modal ×

-if user_signed_in?
  :javascript
    $.get('/pages/dashboard');

-else
  :javascript
    $.get('/pages/popular');

:javascript
  var current_song;
  var current_filename;
  var root_url;
  var filenames = {};
  var song_names = {};
  var song_shows = {};
  var song_ids = {};
  var mode = "shuffle";
  var playlist;
  var current_track;
  $('#login-button').on('click', function() {
    var data = {
      user: {login: $('#login-username').val(), password: $('#login-password').val(), remember_me: '1'}
    }

    $.ajax({ url: '/users/sign_in',
      type: 'POST',
      headers: {
          'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
        },
      data: data,
      success: function(response) {
        $('#login').foundation('reveal','close');
        $('.menu ul.inline-list').empty();
        setTimeout(function() {
           $('.menu ul.inline-list').html('#{escape_javascript render :partial=>"users/header_menu"}');
           window.location = '#{root_path}';
        }, 1000);


      },
      error: function(xhr, status, error) {
          alert(xhr.responseText);
       }
    });
  });

  $(document).on('click', '.play-song', function() {
    $('#player').show();
    current_track = parseInt($(this).attr("track"))-1;
    show_id = $(this).attr("show_id");
    origin = $(this).attr('origin');
    if(origin=='show' && mode != 'radio') {
      mode = 'show';
      console.log(mode);
    }
    else if(origin=='playlist') {
      mode = 'playlist';
      current_track = parseInt($(this).attr("track"));
      playlist = $(this).closest('.playlist');
      console.log(playlist);
      console.log(current_track);
    }
    root_url = 'https://archive.org/download/'+show_id+'/';
    playSong($(this));
  });

  $(document).on('click', '.pause', function() {
    current_song.pause();
    $('#player .play').show();
    $('#player .pause').hide();
  });
  $(document).on('click', '.play', function() {
    current_song.play();
    $('#player .play').hide();
    $('#player .pause').show();
  });
  $(document).on('click', '.fast-forward', function() {
    forwardAudio();
  });

  $(document).on('click', '.next', function() {
    chooseNextSong();
  });
  document.addEventListener('ended', function(e){
    if($(e.target).is('audio')){
      chooseNextSong();
    }
  }, true);

  function chooseNextSong() {
    if(mode == "shuffle") {
      $.get('/songs/shuffle');
    }
    else if(mode == "radio") {
      $.get('/songs/radio');
    }
    else if(mode == "playlist"){
      current_track += 1;

      nextPlaylistSong();
    }
    else if(mode == "show"){
      current_track += 1;
      nextShowSong();
    }

  }

  function nextShowSong() {
    if(filenames[show_id]) {
      if(typeof filenames[show_id][current_track] === "undefined") {
        $.get('/shows/load_random/');
      }
      else {

        filename = filenames[show_id][current_track];
        console.log('valid');
        song_id  = song_ids[show_id][current_track];
        song_name = song_names[show_id][current_track];
        song_show = song_shows[show_id];

        $.get('/songs/load/'+song_id);
      }
    }

  }
  function nextPlaylistSong() {
    console.log(current_track);
    if(current_track == playlist.find('.song-link').length) {
      current_track = 0;
      playlist = playlist.next();

      if(!playlist.hasClass('playlist')) {
        mode = 'shuffle';
        $.get('/songs/shuffle');

      }
      else {
        obj = playlist.find('.song-link').eq(current_track);
        filename = obj.attr('filename');
        current_filename = filename;

        song_id = obj.attr('song_id');
        $.get('/songs/load/'+song_id);
      }
    }
    else {
      obj = playlist.find('.song-link').eq(current_track);
      console.log('we');
      filename = obj.attr('filename');
      current_filename = filename;

      song_id = obj.attr('song_id');
      $.get('/songs/load/'+song_id);
    }

  }

  function playSong(song) {
      filename = '';
      song_name = '';
      filename = song.attr('filename');
      song_name = song.attr('title');
      song_show = song.attr('show');
      song_id = song.attr('song_id');
      current_filename = filename;

      $.get('/songs/load/'+song_id);


      $('#player .play').hide();
      $('#player .pause').show();
      $('#show-list').removeClass('large-12 large-6');
      $('#show-list').removeClass('medium-12 medium-6');
      $('#show-list').addClass('large-6');
      $('#show-list').addClass('medium-6');

      $("html, body").animate({
       scrollTop:0
       },"fast");


  }

  $(document).on('click','.shuffle',function() {
    if(mode == "shuffle") {
      mode = "off";
      $(this).removeClass('selected');
    }
    else {
      mode = "shuffle";
      $(this).addClass('selected');
    }

  });
  $(document).on('click','.radio',function() {
    if(mode == "radio") {
      mode = "off";
      $(this).removeClass('selected');
    }
    else {
      mode = "radio";
      $(this).addClass('selected');
    }

  });
  $(document).on('click','.refresh',function() {
    $.get('/songs/shuffle');

  });

  $(document).on('click','.band',function() {
    band_id = $(this).attr('band_id')
    $.get('/bands/'+band_id);

  });

  $(document).on('click','.show-bands',function() {
    $('#show-list').html('#{j render :partial=>"bands/band_list"}');
  });

  $(document).on('mouseover','.vote',function() {
    labels = ['never','infrequently','regularly','frequently'];
    num = $(this).index();
    $('.vote-lebel').html(labels[num]);

    do {
    $('.votes .vote:eq('+num+')').css('opacity','1');
    num--;
    } while(num>=0);

  });
  $(document).on('mouseout','.vote',function() {
    if($('.votes').hasClass('votable')) {
      $('.vote').css('opacity','.4');
    }


  });
  $(document).on('click','.song-frequency-label',function() {
    $('.song-frequency').toggle();
  });

  $(document).on('click','.show',function() {
    $('.show-songs').hide();
    $(this).find('.show-songs').toggle();
    if($(this).find('.show-title').hasClass('expanded')) {
      $(this).find('.show-title').removeClass('expanded');
    }
    else {
      $(this).find('.show-title').addClass('expanded');
    }

  });

  $(document).on('click','.playlist',function() {
    $('.playlist-songs').hide();
    $(this).find('.playlist-songs').toggle();
    if($(this).find('.playlist-title').hasClass('expanded')) {
      $(this).find('.playlist-title').removeClass('expanded');
    }
    else {
      $(this).find('.playlist-title').addClass('expanded');
    }

  });


  $( document ).on( 'click', '.collect', function () {
    var id = $(this).data('song-id');
    $('#collect .song-id').val(id);
    $('#collect').foundation('reveal','open');
  });


  function forwardAudio() {

    // Check for audio element support.
    if (window.HTMLAudioElement) {
      try {
        current_song.currentTime += 30.0;
      }
      catch (e) {
        // Fail silently but show in F12 developer tools console
        if(window.console && console.error("Error:" + e));
      }
    }
  }
