$('#song-col').html('#{j render @song}');
$('#player').show();


$('#player .song-title').html('#{@song.title}');
$('#player .song-show').html('#{@song.show.title}');

$('#song-col').html('#{j render @song}');
play("#{@src}");
